@page
@model RazorSchools.Client.Pages.SchoolPageDataModel
@{
    ViewData["Title"] = "School API Data";
}

<h3>School API Data</h3>

@if (string.IsNullOrWhiteSpace(Model.ErrorString) == false)
{
    <div class="h2">@Model.ErrorString</div> }
else if (Model.CurrentSchools is null)
{
    <div class="h4">Loading...</div> }
else
{
    <p>
        Start @Model.CurrentSchools.CurrentIndex  of @Model.CurrentSchools.MaxIndex
    </p>

    <form>
        <button class="btn btn-primary" name="Check" value="Next" asp-action="onCheck">   Next   </button>
        <button class="btn btn-primary" name="Check" value="Prev" asp-action="onCheck">   Prev   </button>
    </form>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.CurrentSchools.schools)
            {
                <tr>
                    <td>@s.name</td>
                    <td>@s.street</td>
                    <td>@s.city</td>
                    <td>@s.state</td>
                    <td>@s.zip</td>
                </tr>
            }
        </tbody>
    </table>
}